
html
{
    --satus-theme-primary: #f6b465;
    /*--satus-theme-on-surface: #fafafa;*/
}
/*---------------------------------------------------------------
>>> BASIC
-----------------------------------------------------------------
# Fonts
# Body
---------------------------------------------------------------*/

/*---------------------------------------------------------------
# FONTS
---------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*---------------------------------------------------------------
# BODY
---------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    margin: 0;
}

/*--------------------------------------------------------------
>>> HEADER:
----------------------------------------------------------------
1.0 Buttons
    1.1 Back button
2.0 Title
3.0 Right section
4.0 Search
5.0 Vertical menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BUTTONS
--------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*--------------------------------------------------------------
1.1 BACK BUTTON
--------------------------------------------------------------*/

.satus-button--back
{
    position: absolute;
}

.satus-button--back svg
{
    fill: none;
    stroke: currentColor;
}

body[data-appearance='home'] .satus-button--back
{
    visibility: hidden;
}


/*--------------------------------------------------------------
2.0 TITLE
--------------------------------------------------------------*/

.satus-text--title
{
    font-size: .9375rem;
    font-weight: 400;

    position: absolute;
    left: 56px;

    letter-spacing: .0125em;
}

body[data-appearance='home'] .satus-text--title
{
    left: 14px;
}


/*--------------------------------------------------------------
3.0 RIGHT SECTION
--------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--align-end .satus-button + .satus-button
{
    margin-left: 8px;
}

/*--------------------------------------------------------------
>>> MAIN:
----------------------------------------------------------------
1.0 Basic
2.0 Section
3.0 Folder
4.0 Button
5.0 Switch
6.0 Encryption
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BASIC
--------------------------------------------------------------*/

.satus-main
{
    flex: 1;
}


/*--------------------------------------------------------------
2.0 SECTION
--------------------------------------------------------------*/

.satus-section--main
{
    display: block;

    box-sizing: border-box;
    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    color: var(--satus-theme-on-surface, #777);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: var(--satus-theme-surface, #fff);
}

.satus-text--message
{
    padding: 0 16px;
}

.satus-main .satus-list--label
{
    font-size: 17px;

    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 16px auto 8px;
}

.satus-main__container .satus-list
{
    display: block;

    box-sizing: border-box;
    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    color: var(--satus-theme-on-surface, #777);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: var(--satus-theme-surface, #fff);
}

.satus-main__container .satus-list li .satus-section
{
    position: relative;

    width: 100%;
}

.satus-main .satus-button.satus-button--menu
{
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 8px;

    visibility: hidden;

    width: 34px;
    height: 34px;
    padding: 6px;

    border-radius: 50%;
}

.satus-dialog--menu .satus-button
{
    width: 100%;
    height: 36px;
    padding: 0 16px;
    text-align: left;
}

.satus-main__container .satus-list li .satus-section:hover .satus-button--menu
{
    visibility: visible;
}

.satus-main__container .satus-list--message
{
    padding-right: 8px;
    padding-left: 8px;
}


/*--------------------------------------------------------------
3.0 FOLDER
--------------------------------------------------------------*/

.satus-main .satus-folder svg
{
    width: 20px;
    height: 20px;
    margin: 0 14px 0 0;

    opacity: .75;

    stroke: none;
    fill: #f6b465;
}


/*--------------------------------------------------------------
4.0 BUTTON
--------------------------------------------------------------*/

.satus-main .satus-button:not(.satus-button--menu)
{
    width: 100%;
    height: 48px;
    padding: 0 16px;
}


/*--------------------------------------------------------------
5.0 SWITCH
--------------------------------------------------------------*/

.satus-switch--checkbox
{
    flex-direction: row-reverse;
}

.satus-switch--checkbox .satus-switch__label
{
    margin: 0 0 0 16px;

    flex: 1;
}

.satus-switch--checkbox .satus-switch__value
{
    flex: unset;
}

.satus-switch--checkbox .satus-switch__track
{
    width: 22px;
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;

    border-radius: 50%;
    background: transparent;
    box-shadow: inset 0 0 0 1px #bdbdbd;
}

.satus-switch--checkbox .satus-switch__track::before
{
    position: absolute;
    top: 7px;
    left: 5px;

    visibility: hidden;

    width: 10px;
    height: 5px;

    transition: unset;
    transform: rotate(-45deg);

    opacity: 0;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: unset;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__value .satus-switch__track::before
{
    top: 7px;
    left: 5px;

    visibility: visible;

    transform: rotate(-45deg);

    opacity: 1;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__track::after
{
    content: none;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__value .satus-switch__track
{
    background-color: #f6b465;
    box-shadow: none;
}


/*--------------------------------------------------------------
6.0 ENCRYPTION
--------------------------------------------------------------*/

.satus-dialog--encryption .satus-text
{
    display: block;

    width: calc(100% - 32px);
    margin: 0 16px;
}

.satus-dialog--encryption .satus-text-field
{
    font-size: 16px;

    width: calc(100% - 32px);
    margin: 8px 16px;
    padding: 4px 8px;

    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: #fff;
}

.satus-dialog--encryption .satus-text-field.error
{
    outline: 2px solid rgba(255, 0, 0, .4);
}

.satus-dialog--encryption .satus-section
{
    width: calc(100% - 32px);
    margin: 8px 16px 4px;
    padding: 8px 0 4px;

    border-top: 1px solid #e8e8e8;

    justify-content: flex-end;
}

.satus-dialog--encryption .satus-button
{
    font-size: 14px;
    font-weight: 600;

    overflow: hidden;

    height: 28px;
    min-height: 28px;
    margin-right: 2px;
    padding: 8px 16px;

    letter-spacing: .2px;
    text-transform: uppercase;

    color: var(--satus-theme-primary);
    border-radius: 4px;
}

/*---------------------------------------------------------------
>>> FOOTER
-----------------------------------------------------------------
# Button
# Dialog
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 BUTTON
---------------------------------------------------------------*/

.satus-button--create
{
    position: fixed;
    right: 16px;
    bottom: 16px;

    width: 56px;
    height: 56px;
    padding: 0;

    color: #fff;
    border-radius: 50%;
    background: linear-gradient(135deg, #f8d266, #f17953);
    box-shadow: 0 2px 1px 1px rgba(230, 109, 70, .7), 0 3px 5px rgba(0,0,0,.35);
}


/*---------------------------------------------------------------
2.0 DIALOG
---------------------------------------------------------------*/

.satus-dialog--create .satus-text
{
    display: block;

    width: calc(100% - 32px);
    margin: 0 16px;
}

.satus-dialog--create .satus-text-field
{
    font-size: 16px;

    width: calc(100% - 32px);
    margin: 8px 16px;
    padding: 4px 8px;

    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: #fff;
}

.satus-dialog--create .satus-section
{
    width: calc(100% - 32px);
    margin: 8px 16px 4px;
    padding: 8px 0 4px;

    border-top: 1px solid #e8e8e8;

    justify-content: flex-end;
}

.satus-dialog--create .satus-button
{
    font-size: 14px;
    font-weight: 600;

    overflow: hidden;

    padding: 8px 16px;

    letter-spacing: .2px;

    color: var(--satus-theme-primary);
    border-radius: 4px;
}

.satus-dialog--create .satus-button:hover
{
    background-color: rgba(0,0,0,.03);
}
