/*---------------------------------------------------------------
>>> FOOTER
-----------------------------------------------------------------
# Button
# Dialog
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 BUTTON
---------------------------------------------------------------*/

.satus-button--create
{
    position: fixed;
    right: 16px;
    bottom: 16px;

    width: 56px;
    height: 56px;
    padding: 0;

    color: #fff;
    border-radius: 50%;
    background: linear-gradient(135deg, #f8d266, #f17953);
    box-shadow: 0 2px 1px 1px rgba(230, 109, 70, .7), 0 3px 5px rgba(0,0,0,.35);
}


/*---------------------------------------------------------------
2.0 DIALOG
---------------------------------------------------------------*/

.satus-dialog--create .satus-text
{
    display: block;

    width: calc(100% - 32px);
    margin: 0 16px;
}

.satus-dialog--create .satus-text-field
{
    font-size: 16px;

    width: calc(100% - 32px);
    margin: 8px 16px;
    padding: 4px 8px;

    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: #fff;
}

.satus-dialog--create .satus-section
{
    width: calc(100% - 32px);
    margin: 8px 16px 4px;
    padding: 8px 0 4px;

    border-top: 1px solid #e8e8e8;

    justify-content: flex-end;
}

.satus-dialog--create .satus-button
{
    font-size: 14px;
    font-weight: 600;

    overflow: hidden;

    padding: 8px 16px;

    letter-spacing: .2px;

    color: var(--satus-theme-primary);
    border-radius: 4px;
}

.satus-dialog--create .satus-button:hover
{
    background-color: rgba(0,0,0,.03);
}
