.satus-button--create
{
    position: fixed;
    right: 16px;
    bottom: 16px;

    width: 48px;
    height: 48px;
    padding: 0;

    transition: background 500ms 250ms, transform 500ms, box-shadow 525ms;

    color: #fff;
    border-radius: 50%;
    background: linear-gradient(135deg, #f8d266, #f17953);
    box-shadow: 0 2px 1px 1px rgba(230, 109, 70, .7), 0 3px 5px rgba(0,0,0,.35);
}

.satus-button--create:hover
{
    transition: background 250ms 125ms, transform 250ms, box-shadow 275ms;
    transform: translateY(4px) scale(.975);

    box-shadow: 0 1px 1px 0 rgba(230, 109, 70, .7), 0 1px 2px rgba(0,0,0,.35);
}

.satus-button--create::before
{
    content: none;
}

.satus-dialog--create .satus-text
{
    display: block;

    width: calc(100% - 32px);
    margin: 0 16px;
}

.satus-dialog--create .satus-text-field
{
    font-size: 1rem;

    width: calc(100% - 32px);
    margin: 8px 16px;
    padding: 4px 8px;

    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: #fff;
}

.satus-dialog--create .satus-section
{
    width: calc(100% - 32px);
    margin: 8px 16px 4px;
    padding: 8px 0 4px;

    border-top: 1px solid #e8e8e8;

    justify-content: flex-end;
}

.satus-dialog--create .satus-button
{
    font: 600 .875rem 'Open Sans';

    overflow: hidden;

    padding: 8px 16px;

    letter-spacing: .2px;

    color: var(--satus-theme-primary);
    border-radius: 4px;
}

.satus-dialog--create .satus-button:hover
{
    background-color: rgba(0,0,0,.03);
}

.satus-dialog--create .satus-button::before
{
    content: none;
}
