/*--------------------------------------------------------------
>>> HEADER:
----------------------------------------------------------------
1.0 Buttons
    1.1 Back button
2.0 Title
3.0 Right section
4.0 Search
5.0 Vertical menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BUTTONS
--------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*--------------------------------------------------------------
1.1 BACK BUTTON
--------------------------------------------------------------*/

.satus-button--back
{
    position: absolute;
}

.satus-button--back svg
{
    fill: none;
    stroke: currentColor;
}

body[data-appearance='home'] .satus-button--back
{
    visibility: hidden;
}


/*--------------------------------------------------------------
2.0 TITLE
--------------------------------------------------------------*/

.satus-text--title
{
    font-size: .9375rem;
    font-weight: 400;

    position: absolute;
    left: 56px;

    letter-spacing: .0125em;
}

body[data-appearance='home'] .satus-text--title
{
    left: 14px;
}


/*--------------------------------------------------------------
3.0 RIGHT SECTION
--------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--align-end .satus-button + .satus-button
{
    margin-left: 8px;
}
