/*--------------------------------------------------------------
>>> MAIN:
----------------------------------------------------------------
1.0 Basic
2.0 Section
3.0 Folder
4.0 Button
5.0 Switch
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BASIC
--------------------------------------------------------------*/

.satus-main
{
    flex: 1;
}


/*--------------------------------------------------------------
2.0 SECTION
--------------------------------------------------------------*/

.satus-main .satus-list--label
{
    font-size: 17px;

    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 16px auto 8px;
}

.satus-main__container .satus-list
{
    display: block;

    box-sizing: border-box;
    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    color: var(--satus-theme-on-surface, #777);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: var(--satus-theme-surface, #fff);
}

.satus-main__container .satus-list--message
{
    padding-right: 8px;
    padding-left: 8px;
}


/*--------------------------------------------------------------
3.0 FOLDER
--------------------------------------------------------------*/

.satus-main .satus-folder svg
{
    width: 20px;
    height: 20px;
    margin: 0 14px 0 0;

    opacity: .75;

    stroke: none;
    fill: #f6b465;
}


/*--------------------------------------------------------------
4.0 BUTTON
--------------------------------------------------------------*/

.satus-main .satus-button
{
    width: 100%;
    height: 48px;
    padding: 0 16px;
}


/*--------------------------------------------------------------
5.0 SWITCH
--------------------------------------------------------------*/

.satus-switch--checkbox
{
    flex-direction: row-reverse;
}

.satus-switch--checkbox .satus-switch__label
{
    margin: 0 0 0 16px;

    flex: 1;
}

.satus-switch--checkbox .satus-switch__track
{
    width: 22px;
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;

    border-radius: 50%;
    background: transparent;
    box-shadow: inset 0 0 0 1px #bdbdbd;
}

.satus-switch--checkbox .satus-switch__track::before
{
    position: absolute;
    top: 7px;
    left: 5px;

    visibility: hidden;

    width: 10px;
    height: 5px;

    transition: unset;
    transform: rotate(-45deg);

    opacity: 0;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: unset;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track::before
{
    top: 7px;
    left: 5px;

    visibility: visible;

    transform: rotate(-45deg);

    opacity: 1;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__track::after
{
    content: none;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track
{
    background-color: #f6b465;
    box-shadow: none;
}
