/*--------------------------------------------------------------
>>> USER INTERFACE
----------------------------------------------------------------
# Header
# Layers
	Folder
# Create
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header .satus-section--align-start {
	max-width: calc(100% - 40px);
}


/*--------------------------------------------------------------
# LAYERS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FOLDER
--------------------------------------------------------------*/

.satus-button--folder {
	display: flex;
	align-items: center;
}

.satus-button.satus-button--folder>svg {
	width: 20px;
	min-width: 20px;
	margin: -2px 16px 0 0;
}

.satus-button--folder>.satus-span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/*--------------------------------------------------------------
# CREATE
--------------------------------------------------------------*/

.satus-button--create {
	position: fixed;
	right: 16px;
	bottom: 16px;
	width: 56px;
	height: 56px;
	color: #fff;
	border-radius: 50%;
	background: linear-gradient(135deg, #f8d266, #f17953);
	box-shadow: 0 2px 1px 1px rgb(230, 109, 70, .7), 0 3px 5px rgb(0, 0, 0, .35);
}

.satus-button--create::before {
	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% - 7px);
	width: 14px;
	height: 2px;
	content: '';
	background: currentColor;
}

.satus-button--create::after {
	position: absolute;
	top: calc(50% - 7px);
	left: calc(50% - 1px);
	width: 2px;
	height: 14px;
	content: '';
	background: currentColor;
}